.navPanel-item {
    line-height: 2;
    border-bottom: 1px solid #e8e8e8;
}

.navPanel-item_selected {
    background-color: #ad7;
}

.navPanel-item__radio {
    visibility: hidden;
}

.navPanel-item label {
    cursor: pointer;
    margin-right: 1ch;
}
